@model IEnumerable<BugTrack.Models.Project>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="projects" class="table table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            Actions
        </th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ProjectName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.OS)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Description)
    </td>
    <td>
        @Html.ActionLink("Submit Bug", "CreateFromProject", "Bugs", new { id = item.Id }, new { @class = "btn btn-success btn-sm" })
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-sm btn-warning" })
        @Html.ActionLink("View Bugs", "ViewBugs", new { id = item.Id }, new { @class = "btn btn-sm btn-primary" })
        @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-sm btn-info" })
        <button data-project-id="@item.Id" class="btn btn-sm btn-danger js-delete">Delete</button>
    </td>
</tr>
}

</table>


@section scripts
    {
    <script>
        $(document).ready(function () {
            $("#projects .js-delete").on("click", function () {
                var button = $(this);
                bootbox.confirm("Are you shure you want to delete this project?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/projectapi/" + button.attr("data-project-id"),
                            method: "DELETE",
                            success: function () {
                                button.parents("tr").remove();
                            }
                        });
                    }
                });
            });
        });
    </script>
}