@using BugTrack.Models
@model BugTrack.ViewModels.ViewBugsViewModel

@{
    ViewBag.Title = "ViewBugs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ViewBugs</h2>

<p>
    @Html.ActionLink("Submit Bug", "CreateFromProject", "Bugs", new { id = Model.Project.Id }, null)
</p>
<h4 style="text-decoration: underline;">
    @Html.DisplayNameFor(model => model.Project.ProjectName)
    <a>: </a>
    @Html.DisplayFor(model => model.Project.ProjectName)
</h4>
<table id="bugs" class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Bug.BugSeverity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bug.Component)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bug.BugDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bug.Resolved)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Bugs)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BugSeverity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Component)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BugDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Resolved)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-sm btn-warning" })
                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-sm btn-info" })
                @*@Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-sm btn-danger js-delete" })*@
                <button data-bug-id="@item.Id" class="btn btn-sm btn-danger js-delete">Delete</button>
            </td>
        </tr>
    }

</table>

@section scripts
    {
    <script>
        $(document).ready(function () {
            $("#bugs .js-delete").on("click", function () {
                var button = $(this);
                bootbox.confirm("Are you shure you want to delete this bug?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/bugapi/" + button.attr("data-bug-id"),
                            method: "DELETE",
                            success: function () {
                                button.parents("tr").remove();
                            }
                        });
                    }
                });
            });
        });
    </script>
}